@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
        font-family: 'Overpass', sans-serif;
  }
}

#headerbg {
  background-image: 
    url('../images/bg-pattern-intro-desktop.svg'),
    linear-gradient(to right,hsl(13,100%,72%),hsl(353,100%,62%));
  background-repeat: no-repeat;
  background-position: 29% 52%;
}

@media(max-width:560px) {
  #headerbg {
    background-image: 
      url('../images/bg-pattern-intro-mobile.svg'),
      linear-gradient(to bottom,hsl(13,100%,72%),hsl(353,100%,62%));
    background-position: 34% 32%;
  }
}

.hamburger {
  cursor: pointer;
  width: 28px;
  height: 24px;
  transition: all 2.5s;
  position: relative;
  border: none;
  outline: none;
}

.hamburger:focus {
  border: none;
  outline: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  right: 0;
  width: 28px;
  height: 2px;
  background: #fff;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.normal {
  transform: rotate(0deg);
}
.reverse {
  transform: rotate(180deg);
}
